<%- include('header', {pagetitle: 'Főoldal'}) -%>
<%- include('menu') -%>
<div class="container">
    <div class="col-md-8">
      <br>
      <h2>Főoldal</h2>
      <br>
      <div>
        <h6>A weboldal a járművek adatait típusait kezeli és tárolja. A különböző navigációs fülek
          segítségével lehet váltani az oldalak között.</h6>
        <br>
        <br>
        ➢ Új hozzáadásnál lehetőségünk van új márkát vagy a márkákhoz új a modellt, meghajtást, színt
        állapotot hozzáadni. Ezeket viszont a márka kivételével be kell gépelni. A hozzáadás
        gombbal lehet bevinni az adatokat.
        <br>
        <br>
        ➢ A lista nézet menüpont szolgál a már meglévő adatok kilistázására. A fejléc
        öt oszlopból áll márka, modell, meghajtás, szín, állapot.
        <br>
        <br>
        ➢ Szerkesztés/eltávolít menüpont segítségével lehet szerkeszteni a már meglévő
        adatokat, illetve eltávolítani. Először ki kell keresni az megfelelő adatot és azután ki
        lehet választani a találatok táblázatból egyszerű kattintással melyik legyen szerkesztve
        ha több találat van. Majd a textbox-ban lehet átírni a módosítani kívánt adatot.
      </div>
      <br>
      <img src="http://www.pngall.com/wp-content/uploads/5/Vehicle-PNG-Transparent-HD-Photo.png" id="vonalkazas"
        title="kép" alt="kep" width="100%">
    </div>
  </div>
<%- include('footer') -%>